.contactcontainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../Assets/ContactUsBg.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: #f5f5f5; */
  }
  
  .contactcard {
    width: 50rem;
    padding: 2rem;
    background-color: #ffffff73;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

 
.contacttitle{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.mapcontact {
  height: auto;
  width: auto;
}

@media (max-width: 767px) {
.contactcard {
  width: 20rem;
  padding: 1rem;
}

.contacttitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}


  .mapcontact {
    height: auto;
    width: 260px;
  }
}